{% extends "base.html" %}
{% block content %}
<section class="about-section" style="color: white;">
    <h2>About the Project</h2>
    <p>This project uses deep learning models (VGG-16) for melanoma classification. It processes user-uploaded images and provides classified Images.</p>
</section>

<!-- Inline CSS for styling -->
<style>
    /* .about-section { */
        /* background-color:#ffffff; Light blue background */
        /* background-image: url('backgroundpic.jpg'); */
    /* } */

</style>
{% endblock %}

